<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pull Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Latest Github Events (PUSH,PULL,MERGE only)</h1>
        <h1 class="mb-4">This page is getting refreshed every 15 sec autometically</h1>
        <ul id="event_display" class="list-group">
            <!-- Events will be populated here dynamically -->
        </ul>
    </div>

    <script>
        function fetchDataAndUpdate() {
            fetch('/webhook/api/data')
                .then(response => response.json())
                .then(data => {
                    const ul = document.getElementById('event_display'); // Retrieve the ul element
                    ul.innerHTML = ''; 
                    data.forEach(pull_requests_data => {
                        const li = document.createElement('li');
                        li.classList.add('list-group-item'); // Add Bootstrap list-group-item class
                        let text = '';
                        if (pull_requests_data.action === "opened") {
                            text = `"${pull_requests_data.author}" submitted a pull request from "${pull_requests_data.from_branch}" to "${pull_requests_data.to_branch}" on "${pull_requests_data.timestamp}"`;
                        } else if (pull_requests_data.action === "closed") {
                            text = `"${pull_requests_data.author}" merged branch "${pull_requests_data.from_branch}" to "${pull_requests_data.to_branch}" on "${pull_requests_data.timestamp}"`;
                        } else if (pull_requests_data.action === "push") {
                            text = `"${pull_requests_data.author}" pushed to "${pull_requests_data.to_branch}" on "${pull_requests_data.timestamp}"`;
                        }
                        li.textContent = text;
                        ul.appendChild(li);
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        }
        // Call the function initially
        fetchDataAndUpdate();
        // Call the function every 15 seconds
        setInterval(fetchDataAndUpdate, 15000);
    </script>
</body>
</html>
